html {
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: 'Inika', serif;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: center;
}

.heading__container {
    margin-bottom: 50px;
    justify-content: center;
    margin-top: 50px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}


.navigation_link {
    list-style: none;
    padding: 0 23px;
    cursor: pointer;
}

.nav_link {
    text-decoration: none;
    font-size: 20px;
}

h1 {
    font-size: 30px;
}

.projects__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    margin: 30px;
    border-radius: 5px;
}

.welcome_content {
    max-width: 600px;
}

.description, h1 {
    margin-left: 100px;
}

h1 {
    text-align: center;
}

.description {
    font-size: 1.9rem;
    line-height: 2.2rem;
    text-indent: 10px;
}

.welcome__container {
    margin-bottom: 50px;
}

.avatar {
    margin-left: 70px;
    display: flex;
    align-self: center;
}

.certificate {
    max-width: 600px;
    margin-right: 100px;
}

.footer__container {
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.code {
    max-width: 600px;
    padding-left: 70px;
}

.codewars {
    padding-right: 40px;
    font-size: 1.9rem;
    line-height: 2.2rem;
}


